*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.desktop{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 80vh;
	background-color: white;
}

.desktop > div{
	display: none;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 50%;
	border: 1px solid black;
	order: 0;
}

.desktop > .drag::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preview{
	display: flex;
	width: 100%;
	height: 20vh;
	background-color: red;
}

.preview > div{
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	width: 20%;
	height: 60%;
	margin: 2%;
	border: 1px solid black;
	cursor: pointer;
}

.desktop .active{
	display: flex;
	transition: flex 0.3s ease;
}

.preview .active{
	display: none;
}

.close-button{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	top: 0;
	background-color: red;
	cursor: pointer;
}
